.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 140px; 
  margin: 0 auto;
}

.header h1 {
  font-size: 40px;
}

.header a {
  text-decoration: none;
}
