@import url('https://www.1001fonts.com/ds-fette-kanzlei-font.html');

.footerContainer{
    background-color: rgba(0, 0, 0, 0.822);
    padding: 30px
}

.footerMessage{
    display: grid;
    grid-template-columns: 60% 40%;
    color: rgba(255, 255, 255, 0.877);
    padding-bottom: 30px;
}

.fontTitleNY{
    font-family: 'DS Fette Kanzlei', sans-serif;
    color: rgba(255, 255, 255, 0.877);
}

.footerCopyright{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px rgba(255, 255, 255, 0.301) solid;
    padding: 5px;
    color: rgba(255, 255, 255, 0.877);
}