* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000;
}

.container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
}

/* css of the news card of all pages */
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-decoration: none;
  margin-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
}

.contentText {
  padding: 10px 30px 10px 15px;
}

.contentText h2 {
  margin-bottom: 10px;
}

.contentText small {
  color: #db0707;
}

.contentText p {
  margin-top: 10px;
}

.contentImg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contentImg span {
  font-size: 10px;
  width: 350px;
  text-align: end;
  margin-bottom: 10px;
}

.contentTitleH1 {
  background-image: linear-gradient(to right, black, white);
  color: white;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  padding-left: 15px;
  border-radius: 5px;
}
