* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000;
}

.container {
  flex-grow: 1;
  width: 70vw;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.contentText{
  padding: 10px;
}

.contentImg {
  display: flex;
  align-items: center;
}
