* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000;
}

.container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 30px;
}

.contentText {
  padding: 10px 30px 10px 0;
}

.contentImg {
  display: flex;
  align-items: center;
}
