.notFound {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 50px;
}

.notFoundImg {
    display: flex;
    justify-content: center;
}

.notFoundImg img {
    width: 50%;
}